<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Daily Postcard Creator</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Homemade+Apple|Indie+Flower|Long+Cang&display=swap" rel="stylesheet">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Daily Postcard Creator</h1>
    </header>

    <main>
      <div class="postcard">
        <div class="postcardImgContainer">
          <img id="postcardImg"/>
          <label for="replaceImage" class="bigButton">Choose Image</label>
          <input type="file" accept="image/png, .jpeg, .jpg, image/gif" id="replaceImage">
        </div>
        <p class="postcardCaption" contenteditable="true" id="message"></p>
      </div>

      <div class="settings">
        <div class="fontSettings">
          <h3>Choose your font</h3>   
          <div>
            <input type="radio" id="indieFlower" name="font" value="Indie Flower" onclick="changeFont('Indie Flower')" checked="checked">
            <label for="indieFlower" class="fontLabel">Indie-Flower</label>
          </div>
          <div>
            <input type="radio" id="dancingScript" name="font" value="Dancing Script">
            <label for="dancingScript" class="fontLabel">Dancing Script</label>
          </div>
          <div>
            <input type="radio" id="longCang" name="font" value="Long Cang">
            <label for="longCang" class="fontLabel">Long Cang</label>
          </div>
          <div>
            <input type="radio" id="homemadeApple" name="font" value="Homemade Apple">
            <label for="homemadeApple" class="fontLabel">Homemade Apple</label>
          </div>
        </div>
        <div class="colorSettings">
          <h3>Choose your color</h3>
          <div>
            <input type="radio" id="whiteRock" name="color" value="#e6e2cf" checked="checked">
            <label for="whiteRock" class="colorLabel"></label>
          </div>
          <div >
            <input type="radio" id="akaroa" name="color" value="#dbcaac">
            <label for="akaroa" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="foggyGrey" name="color" value="#c9cbb3">
            <label for="foggyGrey" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="submarine" name="color" value="#bbc9ca">
            <label for="submarine" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="spunPearl" name="color" value="#a6a5b5">
            <label for="spunPearl" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="pinkSwan" name="color" value="#b5a6ab">
            <label for="pinkSwan" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="oysterPink" name="color" value="#eccfcf">
            <label for="oysterPink" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="grayNurse" name="color" value="#eceeeb">
            <label for="grayNurse" class="colorLabel"></label>
          </div>
          <div>
            <input type="radio" id="grayNickel" name="color" value="#bab9b5">
            <label for="grayNickel" class="colorLabel"></label>
          </div>
        </div>

        <h3 id="shareButton" class="button"> Share postcard</h3>
      </div>
    </main>


    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
